.titleme {
font-size:48px;
letter-spacing:-1px;
font-weight:700;"
}
h1, h2, h3, h4, h5, h6 {
font-weight:600;
}
hr {
border-top:1px solid #ddd;
border-bottom:1px solid #fff;
margin-top:36px;
margin-bottom:24px;
}
header {
border:none;
}
.post-link {
    font-weight: 600;
   }
article, .home {
    border: 1px solid #a3b8cc;
    background-color: #fbffff;
    border-radius: 8px;
    padding: 0 24px;
   }
.post-title {
font-size:32px;
font-weight:600;
}
#menu {
margin-below:48px;
}
#menu a {
margin: 0 16px;
font-weight:600;
}
#site-image {
	position: relative;
	float: left;
	margin-top:-22px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
margin-bottom: 0;
clear: both;
top: -64px;
}
#site-title a {
	color: #296c80;
}
#site-title {
	margin-left: 96px;
}

#branding {
	background: #fbffff;
	padding: 14px 12px 0 13px;
	border: solid 1px #a3b8cc;
	border-radius: 8px;
	margin: 30px auto 0 auto;
	max-width:1000px;
}
#menu {
	background: #fbffff;
	padding: 4px;
	border: solid 1px #a3b8cc;
	border-radius: 8px;
	margin: 0 auto 0 auto;
	clear: both;
	max-width: 1018px;
	position: relative;
	top: -36px;
}
div.hcard-display {
background: #fbffff;
border:1px solid #a3b8cc;
border-radius:8px;
padding:4px;
font-size:.8em;
text-align:center;
margin:0 0 0 24px;
}
.wrapper {
display:flex;flex-direction: 
row;flex-wrap:wrap;
position:relative;
/*top:-18px;*/
clear:both;
max-width: -webkit-calc(1060px - (30px * 2));
max-width: calc(1060px - (30px * 2));
}
.onef {
width:60%;;	
}
.twof {
width:39%;
}
.thesidebar {
text-align:center;
padding:0 12px 0 48px;"
}
#page {
	min-width: 1000px;
}

@media only screen and (max-width:479px) {
.thesidebar, div.hcard-display {
padding:0;
margin:0;
}
.titleme {
font-size:24px;
letter-spacing:0;
}
#site-image {
width:48px;
height:48px;
margin-top:0;
margin-bottom:0;
}
div.hcard-display {

}
#site-title {
	margin-left: 68px;
}
.wrapper {
		display:flex;flex-direction: column;flex-wrap:wrap;
	}
	.onef {
	width:100%;	
	}
	.twof {
	width:100%;	
	}

}

#thumbs {
	padding-top:24px;
}
#thumbs img {
	position: relative;
	float: left;
	margin: 1px;
	width:100px;

}


