<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
      <div class="hcard-display h-card vcard p-author">
	<div class="hcard-header">
		i.webthings is <a class="u-url url fn u-uid" href="https://iwebthings.jenett.org/" rel="author"><img alt="" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=60&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=120&amp;d=default&amp;r=pg 2x" class="avatar avatar-60 photo u-photo hcard-photo u-photo" width="42" style="border-radius:24px;position:relative;top:-3px;"></a> <span class="hcard-name p-name n">joe jenett</span>, <span class="hcard-body hcard-properties p-note note"> a curator (of sorts)</span>
	</div>
</div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
