<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">
 	<div class="wrapper">
	
		<div class="onef">
			<div style="padding-right:18px;">
				<label for="search-input" style="display:none;">search</label>
				<input type="text" id="search-input" placeholder="search posts">
				<br/>
				<div id="results-container"></div>
			</div>
			{{ content }}
					</div>

		<div class="twof">
			<div class="thesidebar">
				<div class="welcome">
					<span style="float:right;margin-left:4px;"><a title="we ❤️ pinboard!" href="https://pinboard.in/u:iwebthings/"><img src="/images/pinboard.png" alt="we ❤️ pinboard!" style="max-width:20px;"></a> <a title="joejenett on micro.blog" href="https://micro.blog/joejenett" rel="me"><img src="/images/mbb.png" alt="joejenett on micro.blog" style="max-width:20px;"></a> <a title="Follow iwebthings on Twitter" href="https://www.twitter.com/iwebthings" rel="me"><img src="/images/twitter.png" alt="Follow i.webthings on Twitter" style="max-width:22px;"></a> <a title="joe jenett at github" href="https://github.com/joejenett" rel="me"><img src="/images/github.png" alt="joe jenett at github" style="max-width:22px;position:relative;top:1px;"></a> <a title="Subscribe" href="/feed.atom"><img src="/images/rss.png" alt="Subscribe" style="max-width:18px;margin-left:4px;"></a></span>
					<p>Welcome to the<br />hub of  <em>i.webthings</em>, an independent and  noncommercial web initiative.
					</p>
					<div style="margin-top:18px;font-weight:500;border-top:1px solid #ededed;padding:2px 0 0 0;font-size:.95em;">
						<span style="font-weight:300;">You might also like:</span><br />
						<a title="Indieseek.xyz Indieweb Directory | And search." href="https://indieseek.xyz/links/"><em style="color:#2d778c;">Indieseek.xyz Indieweb Directory</em></a><br /><a href="https://href.cool/" title=""><em style="color:#2d778c;">href.cool</em></a>
						<p>
						<a href="https://pinboard.in/u:iwebthings/"><img src="/images/whp.png" title="We love Pinboard" alt="We ❤️ Pinboard" style="width:120px;margin-top:12px;"></a>
						</p>
					</div>
										<div id='linkring' style="border-top:1px solid #ddd;padding-top:6px;">
<script src="https://jenett.org/linkring/onionring-variables.js"></script>
<script src="https://jenett.org/linkring/onionring-widget.js"></script>
</div>
				</div>

				<div class="hcard-display h-card vcard p-author" style="margin-bottom:12px;">
					<div class="hcard-header">
						<a class="u-url url fn u-uid" href="https://iwebthings.jenett.org/" rel="author"><img alt="joe jenett aka i.webthings (home of the i.webthings hub)" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=60&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=120&amp;d=default&amp;r=pg 2x" class="avatar avatar-60 photo u-photo hcard-photo u-photo" width="60" style="border-radius:24px;"></a>
						<p class="hcard-name p-name n">
							joe jenett
						</p>
					</div>
					<div class="hcard-body">
						<ul class="hcard-properties"></ul>
						<p class="p-note note">
							a curator (of sorts) - explore the web!
						</p>
					</div>
				</div>
				<div class="explore">
					<a href="https://directory.jenett.org/random/" title="visit a random site from the i.webthings directory"><span style="font-size:1.45em;font-style:italic;font-weight:700;background:transparent;;border:none;color:#296c80;">&ndash; random explorer &ndash;</span></a>
				</div>
				<div class="sidefoot-aka">
					<div id="aka">
						<div id="aka-header">
							<img id="slug" src="/images/rightslugger.png" alt="" /><br />
							<div id="aka-header-left">i.webthings<br /><span class="aka-subhead" style="position:relative;left:9px;">a curator (of sorts)</span>
							</div>
							<span id="aka-header-fix">a.k.a.</span> 
							<div id="aka-header-right">joe jenett<br /><span class="aka-subhead">personal side</span>
							</div>
						</div>
						<div class="aka-sep">
							active sites
						</div>	
						<div class="aka-sep-container">
							<div class="aka-sep-left">
								<li><a title="i.webthings, an independent and noncommercial web initiative" href="https://iwebthings.jenett.org/">i.webthings hub</a></li>
								<li><a title="an eclectic selection of sites to explore, curated by a fellow human" href="https://directory.jenett.org/">i.webthings directory</a></li>
								<li><a title="daily links to resources, diversions, initiatives, and software since 2004" href="https://the.dailywebthing.com/">dailywebthing linkport </a></li>
								<li><a title="daily pointers to personal blogs and other noncommercial sites since 2000" href="https://pointers.dailywebthing.com/">dwt daily pointers</a></li>
							</div>
							<div class="aka-sep-right">	
								<li><a title="that’s me" href="https://jenett.org/">joe jenett</a></li>
								<li><a title="it’s personal. and micro. — simply." href="https://simply.jenett.org/">simply.</a></li>
								<li><a title="a pile of tasty miscellany" href="https://wiki.jenett.org/">jenett. wiki.</a></li>
								<li><a title="joe’s little digital garden" href="https://joe.jenett.org/">🌱 𝚓𝚘𝚎. 𝚒𝚍𝚎𝚊𝚜.</a></li>
							</div>
						</div>
						<div class="aka-sep" style="margin:9px 14px 3px 14px;">
							archived sites
						</div>
						<div class="aka-sep-container">
							<div class="aka-sep-left">
								<li><a href="https://linkscatter.jenett.org/">linkscatter</a></li>
								<li><a href="https://coolstop.jenett.org/">coolstop</a></li>
								<li><a href="https://jenett.org/colorspeak/">colorspeak</a></li>
								<li><a href="https://jenett.org/intersect/">intersect</a></li>		
							</div>

							<div class="aka-sep-right">	
								<li><a href="https://photo.jenett.org/">jenett.photo</a></li>
								<li><a href="https://joesblues.jenett.org/">joe’s blues</a></li>
								<li><a href="https://deskphotos.jenett.org/">deskphotos</a></li>
								<li><a href="https://jenett.org/v4/">bulltown</a></li>
							</div>
						</div>
					</div>
				</div>
				<div class="sidefoot-credits">
					<p><br>
						The i.webthings hub is intended<br>
					for a mature audience.</p>
					<p>
						<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="/images/by-nc-sa.png" style="margin:14px 0px 4px 0px;border:none;" width="88"></a><br>Weblog content licensed under<br>a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a>.
					</p>
					<p>2010-2021 © joe jenett.<br>
					Some rights reserved.</p>
					<p><br />Some emoji are from<br /><a href="https://commons.wikimedia.org/wiki/Emoji">Wikimedia Commons</a>,<br>released under the<br><a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC Attribution 4.0 International License</a>.
					</p>
					<p><br />
						<a href="/privacy_policy/" title="">Privacy Policy</a>
					</p>
					<p>Powered by <a href="https://jekyllrb.com/">Jekyll</a> &amp; <a href="https://pages.github.com/">GitHub Pages</a>.</p>
					<p>Site design by joe jenett.
					</p>
				</div>
			</div>
		</div>
	</div>
</main>

<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
<script>
SimpleJekyllSearch({
searchInput: document.getElementById('search-input'),
resultsContainer: document.getElementById('results-container'),
json: '/search.json',
searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a> <small>({date})</small></li>',
noResultsText: 'No results found',
limit: 20,
fuzzy: false,
exclude: ['Welcome']
})
</script>
</body>
</html>
