<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
		<div class="wrapper">
			<div class="onef">
			<div style="padding-right:18px;">
			<input type="text" id="search-input" placeholder="search post titles">
			<br/>
			<div id="results-container"></div>
			</div>
				{{ content }}
			</div>
			<div class="twof">
				<div class="thesidebar">
				<div style="padding-left:24px;">
					<span style="float:right;margin-left:4px;">
						<a title="we ❤️ pinboard!" href="https://pinboard.in/u:iwebthings/"><img src="/images/pinboard.png" alt="we ❤️ pinboard!" style="max-width:20px;"></a> <a title="joejenett on micro.blog" href="https://micro.blog/joejenett" rel="me"><img src="/images/mbb.png" alt="joejenett on micro.blog" style="max-width:20px;"></a> <a title="Follow iwebthings on Twitter" href="https://www.twitter.com/iwebthings" rel="me"><img src="/images/twitter.png" alt="Follow i.webthings on Twitter" style="max-width:22px;"></a> <a title="joe jenett at github" href="https://github.com/joejenett" rel="me"><img src="/images/github.png" alt="joe jenett at github" style="max-width:22px;position:relative;top:1px;"></a> <a title="Subscribe" href="https://hub.iwebthings.com/feed"><img src="/images/rss.png" alt="Subscribe" style="max-width:18px;margin-left:4px;"></a>
					</span>
					<div style="text-align:left;;margin-bottom:36px;font-size:.95em;">
						Welcome to the<br />hub of  <em>i.webthings</em>, an independent and  noncommercial web initiative.
						<p>
							<img src="/images/coffee.png" title="Thanks for visiting." alt="Thanks for visiting." style="width:180px;margin-top:18px;" />
						</p>
						<div style="margin-top:18px;font-weight:500;border-top:1px solid #ededed;border-bottom:1px solid #dedede;padding:2px 0 2px 0;font-size:.95em;">
							<span style="font-weight:300;">You might also like:</span><br />
							<a title="Indieseek.xyz Indieweb Directory | And search." href="https://indieseek.xyz/links/"><em style="color:#2d778c;">Indieseek.xyz Indieweb Directory</em></a><br /><a href="https://href.cool/" title=""><em style="color:#2d778c;">href.cool</em></a>
						</div>
					</div>
					</div>
					<div class="hcard-display h-card vcard p-author" style="margin-bottom:12px;">
						<div class="hcard-header">
							<a class="u-url url fn u-uid" href="https://directory.iwebthings.com/" rel="author"><img alt="" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=60&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=120&amp;d=default&amp;r=pg 2x" class="avatar avatar-60 photo u-photo hcard-photo u-photo" width="60" style="border-radius:24px;"></a>
							<p class="hcard-name p-name n">
								joe jenett
							</p>
						</div>
						<div class="hcard-body">
							<ul class="hcard-properties"></ul>
							<p class="p-note note">
								a curator (of sorts) - explore the web!
							</p>
						</div>
					</div>
					<div style="margin:12px 0 36px 24px;border: 1px solid #a3b8cc;border-radius: 8px;background: #fbffff;padding:4px;font-weight:400;font-size:.9em;text-align:center;">
						<a href="https://directory.jenett.org/random/" title="visit a random site from the i.webthings directory"><span style="font-size:1.45em;font-style:italic;font-weight:700;background:transparent;;border:none;color:#296c80;">&ndash; random explorer &ndash;</span></a>
					</div>
					<div class="sidefoot" style="margin-top:12px;font-size:.9em;">
						<p><br>
							The i.webthings hub is intended<br>
						for a mature audience.</p>
						<p>
							<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="/images/by-nc-sa.png" style="margin:14px 0px 4px 0px;border:none;" width="88"></a><br>Weblog content licensed under<br>a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a>.
						</p>
						<p>2010-2021 © joe jenett.<br>
						Some rights reserved.</p>
					</div>
					<!--<div class="sidefoot">
						<span style="font-size:.9em;line-height:1.5em;">Some emoji are from <a href="https://commons.wikimedia.org/wiki/Emoji">Wikimedia Commons</a>,<br />released under the<br /><a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC Attribution 4.0 International License</a>.</span>
					</div>-->
					<div style="text-align:center;padding-left:24px;margin-top:36px;">

						<div id="iwtblock" class="iwtblock">
							<p><br />
								<a title="i.webthings, an independent and noncommercial web initiative" href="/"><img src="/images/rightslugger.png" width="48" alt="i.webthings" /></a>
							</p>
							<p>
								<a title="the hub of i.webthings, an independent and noncommercial web initiative" href="/">i.webthings hub</a><br />
								<a title="an eclectic selection of sites to explore, curated by a fellow human" href="https://directory.jenett.org/">i.webthings directory</a><br />
								<a title="daily links to resources, diversions, initiatives, and software since 2004" href="https://the.dailywebthing.com/">the dailywebthing linkport</a><br />
								<a title="daily pointers to personal blogs and other noncommercial sites since 2000" href="https://pointers.dailywebthing.com/">dailywebthing daily pointers</a><br />
								<a title="joe jenett’s personal blog" href="https://simply.personal.jenett.org/">simply. personal.</a><br />
								<a title="joe jenett’s pile of tasty miscellany" href="https://wiki.jenett.org/">jenett. wiki.</a><br />
								<a title="🌱 𝚓𝚘𝚎. 𝚒𝚍𝚎𝚊𝚜." href="https://joe.jenett.org/">🌱 𝚓𝚘𝚎. 𝚒𝚍𝚎𝚊𝚜.</a><br />
							</p>

						</div>
						<div class="sidefoot" style="font-size:.9em;line-height:1.5em;padding:0;margin-right:8px;">
							<p>Special thanks to <img src="/images/iconduck.png" alt="" title="Free open source icons, illustrations, emojis and graphics" style="position:relative;top:8px;" width="14"> <a title="Free open source icons, illustrations, emojis and graphics" href="https://iconduck.com/">Iconduck</a>!</p>
							<div style="padding-left:16px;"><br />
								Some emoji are from<br /><a href="https://commons.wikimedia.org/wiki/Emoji">Wikimedia Commons</a>,<br>released under the<br><a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC Attribution 4.0 International License</a>.
								<p><br />
									<a href="/privacy_policy/" title="">Privacy Policy</a>
								</p>
								<p>Powered by <a href="https://jekyllrb.com/">Jekyll</a> &amp; <a href="https://pages.github.com/">GitHub Pages</a>.</p>
									<p>Site design by joe jenett.
								</p>
							</div>
						</div>
						<!--          <div style="text-align:center;font-size:.7em;margin-bottom:48px;">
							<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="/images/by-nc-sa.png" style="margin:14px 0px 4px 0px;border:none;" width="88"></a><br> Content License: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
						</div>
						{%- include social.html -%} -->
					</div>
				</div>
			</div>
		</div>
    </main>
    <!--
    <script src="https://unpkg.com/simple-jekyll-search@1.5.0/dest/simple-jekyll-search.min.js"></script>
    -->
	<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script><script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json',
  searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a> <small>({date})</small></li>',
  noResultsText: 'No results found',
  limit: 10,
  fuzzy: false,
  exclude: ['Welcome']
})
</script>
	<!--
		{%- include footer.html -%}
	-->
</body>

</html>
			<!--<button onclick= "document.getElementById('search-input').value = ''"> x </button> -->
