---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" style="margin-top:18px;" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
            <span class="post-categories">
    • posted in:
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</span>
      </p>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
      </div>


<script type="text/javascript" src="/js/webmention.js"></script>
<div class="post-mentions" id="post-mentions"> <ul class="mentions-list" id="mentions-list"></ul> </div>
<script
    $().ready(function(){
        $.getJSON( "/{{ page.url }}.json", function( data ) {
        $("#url").html(data["url"]);
      });
    });
</script>
<!--
<script>
    $().ready(function() {
       fetch("https://webmention.io/api/count?target=https://iwebthings.jenett.org{{ page.url }}")
    .then(response => response.json())
    .then(responseJson => console.log(responseJson));
    });
</script>

<span data-webmention-count data-url="https://iwebthings.jenett.org{{ page.url }}"></span> mentions
-->
<div style="background:#fff;z-index:100;border:1px solid #a3b8cc;border-radius:8px;margin-bottom:24px;margin-top:18px;">
  <script src="https://utteranc.es/client.js"
        repo="joejenett/i.webthings"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
  </div>
   
   
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
