---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<header class="post-header">
<h1 class="post-title p-name" style="margin-top:18px;" itemprop="name headline">{{ page.title | escape }}</h1>
<p class="post-meta">
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{{ page.date | date: date_format }}
</time>
{%- if page.author -%}• <span itemprop="author" itemscope itemtype="http://schema.org/Person"> <img alt="" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=40&amp;d=mm&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=80&amp;d=mm&amp;r=pg 2x" class="avatar avatar-40 photo u-photo" itemprop="image" width="24" height="24" style="position:relative;top:-3px;">
<span class="p-author h-card" itemprop="name">{{ page.author }}
</span>
</span>
{%- endif -%}
<span class="post-categories">• posted in:
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% for category in categories %}
<a href="/categories/#{{category|slugize}}">{{category}}</a>
{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</span>
</p>
</header>
<div class="post-content e-content" itemprop="articleBody">
{{ content }}
</div>

<script type="text/javascript">
	$().ready(function(){
		$.getJSON( "$.getJSON( "https://webmention.io/api/mentions?token=Hk9-dBDdNDqQh9UECT5hdg",
		function( mydata ) {
			console.log(mydata);
			var output = '';
			$.each(mydata.links, function(i, v) {
				if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
				output = 'Mentions: <ul>';
			}
			});
        		$.each(mydata.links, function(i, v) {
        		if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
        		output += '<li><img src="' + v.data.author.photo + '" alt="" width="32"> ';
        		output += '<a href="' + v.source + '"><small>' + v.source + '</small></a></li>';
        	}
    	});
    		output += '</ul>';
    		$('#result').html(output);
		});	
	});
</script>

<div id="result"></div>

<div style="background:#fff;z-index:100;border:1px solid #a3b8cc;border-radius:8px;margin-bottom:24px;margin-top:18px;">
<script src="https://utteranc.es/client.js"
repo="joejenett/i.webthings"
issue-term="title"
theme="github-light"
crossorigin="anonymous"
async>
</script>
</div>

<a class="u-url hidden" href="{{ page.url | relative_url }}"></a>

</article>
